.footer {
  background-color: #283618;
  padding: 60px;
  text-align: center;
}

.footer p {
  color: #fefae0af;
}

.media-links i {
  color: #DDA15E;
  font-size: 32px;
  margin-bottom: 24px;
  transition: 0.3s;
}

.media-links i:hover {
  color: #BC6C25;
}
